@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

tr,th {
    font-weight: normal;
}

body {
    font-size: 100%;
    list-style-type: none;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}

:root {
    --cor-texto: #6B6B6B;
    --cor-texto-destaque: #1E1E1E;
    --cor-texto-claro: #EDEDED;
    --cor-links: #4D202F;
    --cor-fundo-bege: #DCD0BF;
}
